body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Big Shoulders;
  color: #ffb99d;
  text-align: center;
  font-size: 90px;
  margin: 0px;
}

.back {
  display: inline-block;
  color: #ffb99d;
  font-weight: lighter;
  margin-left: 8px;
  margin-bottom: 15px;
  font-size: 19px;
  margin-top: 20px;
  font-size: larger;
  font-weight: bolder;
}

.input {
  background-color: #ff8d60;
  text-align: center;

  margin: 20px;
  margin-top: 30px;
  border-radius: 6px;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.301);
}

.update {
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: lighter;
}

.today {
  font-weight: bold;
  padding-top: 40px;
  font-size: larger;
}

.input input {
  margin-top: 17px;
  margin-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border: none;
}

.enter {
  text-decoration: ;
  border-color: #ffb99d;
  background-color: #ff8d60;
  color: #ffffff;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 200px;
}
